n8n_workflow_simple_v4.json
{
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "watchWorkspace": true,
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        0
      ],
      "id": "340dc9b5-d9c1-4ca1-8ff7-3884b1e654d9",
      "name": "Slack Trigger",
      "webhookId": "05ac028e-5872-432d-a98d-02d454f4b417",
      "credentials": {
        "slackApi": {
          "id": "NPzsVJ02vnm3zhgA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').item.json.channel }}",
          "mode": "id"
        },
        "text": "={{ $json.message.content }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "b1480cbd-e8ef-4150-bcff-f023e208fa54",
      "name": "Send a message",
      "webhookId": "d5ebc0f3-c940-43ca-858f-089dfb2153cc",
      "credentials": {
        "slackApi": {
          "id": "NPzsVJ02vnm3zhgA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "Jesteś pomocnym asystentem."
            },
            {
              "role": "user",
              "content": "={{ $('Slack Trigger').item.json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        360,
        0
      ],
      "id": "74547f8e-2937-4661-9600-53782303c75e",
      "name": "OpenAI Chat",
      "credentials": {
        "openAiApi": {
          "id": "7AzOZOpey5mYnsPi",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}