n8n_workflow_agent_real_v1.json
{
  "nodes": [
    {
      "parameters": {
        "sessionKey": "={{ $json.id }}"
      },
      "id": "84d7bd44-2f7d-4172-9cfa-46eada950d3e",
      "name": "Pamięć podręczna",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [
        1560,
        720
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger6').item.json.channel }}",
          "mode": "id"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Slack Trigger6').item.json.ts }}"
            }
          },
          "mrkdwn": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2720,
        368
      ],
      "id": "027e957b-96c8-41b5-b142-430c6e98a0e0",
      "name": "Wiadomość - Odpowiedź AI Agenta",
      "webhookId": "c9c38c98-1146-4a47-a02f-021e11d44e00",
      "credentials": {
        "slackApi": {
          "id": "NPzsVJ02vnm3zhgA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Pobiera wiadomości z wskazanego okresu.\nParametry:\n- date_after (date) – obowiązkowe, format: YYYY-MM-DDThh:mm, określa początek okresu pobierania wiadomości\n- date_before (date) – nieobowiązkowe, format: YYYY-MM-DDThh:mm, określa koniec okresu pobierania wiadomości\n- query (string) – nieobowiązkowe, pozwala wyszukiwać konkretne wiadomości po tytule, adresie email itp.",
        "operation": "getAll",
        "filters": {
          "q": "={{ $fromAI(\"query\") }}",
          "receivedAfter": "={{ $fromAI(\"date_after\") }}",
          "receivedBefore": "={{ $fromAI(\"date_before\") }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1664,
        912
      ],
      "id": "57822b0c-ff66-4c07-b2ae-97fc6f4542d6",
      "name": "pobierzWiadomosci",
      "webhookId": "79cf8843-666b-4145-b4e1-1bdf16d21e14",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID_HERE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Pobiera szczegóły pojedynczej wiadomości.\nParametry:\n- email_id (string) – obowiązkowe, unikalny numer ID wiadomości email",
        "operation": "get",
        "messageId": "={{ $fromAI(\"email_id\") }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1872,
        944
      ],
      "id": "4001a06d-1ec4-4889-8c82-ec9c36ecbc77",
      "name": "pobierzPojedynczaWiadomosc",
      "webhookId": "b884d0f1-6fb7-44f1-9e4a-8383b2677706",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID_HERE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Dodaje etykietę do wiadomości.\nParametry:\nemail_id (string) - obowiązkowe, unikalny numer ID wiadomości email\nlabel (array) - obowiązkowe, lista etykiet do dodania do wiadomości\n\nDostępne etykiety i zasady ich stosowania:\nLabel_7519745569393273505 - dla faktur: używaj dla wszystkich wiadomości zawierających faktury, rachunki lub dokumenty finansowe\nLabel_466407256772235691 - dla klienta: używaj dla korespondencji związanej z klientami, ofert, zapytań lub komunikacji od/do klientów\nLabel_6704420327198514074 - dla księgowej: używaj dla wiadomości przeznaczonych dla księgowości, zawierających rozliczenia, dokumentację finansową lub wymagających uwagi księgowej\nLabel_4898654605542370916 - dla newsletterów: używaj dla biuletynów, subskrypcji i cyklicznych wiadomości informacyjnych\n",
        "operation": "addLabels",
        "messageId": "={{ $fromAI(\"email_id\") }}",
        "labelIds": "={{ $fromAI(\"label\",\"ID etykiety\") }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2048,
        944
      ],
      "id": "ab29ba0f-bd00-4ff4-b1e7-cb5a8b75fc43",
      "name": "dodajEtykiete",
      "webhookId": "5472da96-1aef-4aab-922e-35685e8a0c57",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID_HERE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Wysyła nową wiadomość email.\nParametry:\n- to_mail_addresses (string) - obowiązkowe, adres lub adresy email odbiorców\n- mail_msg (string) - obowiązkowe, treść wiadomości\n- subject (string) - obowiązkowe, tytuł wiadomości",
        "sendTo": "={{ $fromAI(\"to_mail_addresses\") }}",
        "subject": "={{ $fromAI(\"subject\") }}",
        "message": "={{ $fromAI(\"mail_msg\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2208,
        944
      ],
      "id": "d914c5f4-943a-4910-9ffa-5ad031ea26ec",
      "name": "wyslijWiadomosc",
      "webhookId": "52628092-d75c-42f7-9c52-503521b1979a",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID_HERE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Odpowiada na otrzymaną wiadomość email, zachowując wątek korespondencji.\nParametry:\n- email_id (string) - obowiązkowe, unikalny numer ID wiadomości, na którą odpowiadamy\n- mail_msg (string) - obowiązkowe, treść odpowiedzi",
        "operation": "reply",
        "messageId": "={{ $fromAI(\"email_id\") }}",
        "message": "={{ $fromAI(\"mail_msg\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2368,
        944
      ],
      "id": "9eb5e429-f88f-4abd-8dc8-df7d8fa2681a",
      "name": "odpowiedzNaWiadomosc",
      "webhookId": "d2c74e4d-22cd-4c57-9017-8c285012b3dd",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID_HERE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Transkrypcja6').item.json.text || $json.text }}",
        "options": {
          "systemMessage": "## Rola\nJesteś Martą – asertywnym, konkretnym i dyplomatycznym Senior Account Managerem w agencji marketingowej.\nTwoim celem jest ochrona rentowności, czasu zespołu i procesu, przy jednoczesnym utrzymaniu partnerskich relacji z klientem.\n\n## Filozofia Stylu (\"Asertywna Właścicielka\")\n1. **BĄDŹ ZWIĘZŁA:** Unikaj lania wody. Każde zdanie ma cel.\n2. **JĘZYK:** Prosty, ludzki, bez korpo-slangu.\n   - ⛔ ŹLE: \"dowieźć\" (w każdym kontekście - absolutny zakaz), \"dowieźć temat\", \"dowozić wyniki\", \"jesteśmy w deep work\", \"ASAP\", \"estymuję\", \"na cito\".\n   - ✅ DOBRZE: \"zrobić\", \"wykonać\", \"kampania działa/pracuje\" (zamiast \"dowozi\"), \"siedzę nad projektem\", \"pilne\", \"szacuję\", \"szybko\".\n3. **PARTNERSTWO:** Używaj formy \"My\" (gramy do jednej bramki), ale stawiaj granice.\n4. **FORMATOWANIE (MARKDOWN - SLACK COMPATIBLE):**\n   - Używaj podwójnego entera (`\\n\\n`) do oddzielania akapitów.\n   - Używaj `*tekst*` do pogrubienia kluczowych faktów lub opcji.\n   - Używaj list z myślnikami (`- opcja`), jeśli wymieniasz opcje.\n   - NIE używaj tagów HTML (`<br>`, `<b>`, `<ul>`).\n5. **WIERNOŚĆ KONTEKSTOWI (CRITICAL):**\n   - Opieraj się **WYŁĄCZNIE** na faktach z wiadomości klienta.\n   - ⛔ **NIE WYMYŚLAJ** kanałów (np. nie pisz o TikToku/FB, jeśli klient pyta o stronę WWW).\n   - ⛔ **NIE HALUCYNUJ** formatów (jeśli klient przesyła wideo na stronę, nie traktuj tego jako reklamy w social media).\n   - Jeśli nie masz pewności co do kontekstu -> zadaj pytanie doprecyzujące w treści maila.\n\n## Zadanie\nPrzeanalizuj wiadomość od klienta (lub polecenie użytkownika dotyczące skrzynki Gmail) i wykonaj odpowiednią akcję używając dostępnych narzędzi (Gmail Tools) lub przygotuj draft odpowiedzi.\n\n### SCENARIUSZ A: SCOPE CREEP (Prośba o darmową pracę/coś \"przy okazji\")\nAlgorytm:\n1. **Cushion:** Podziękuj, doceń.\n2. **Anchor:** Przypomnij o priorytecie obecnego zlecenia (SOW).\n3. **Impact:** Wyjaśnij krótko, że \"mała zmiana\" to koszt (oderwanie zespołu, pliki, QA).\n4. **Options (Opcje):** Przedstaw 3 drogi w formie naturalnej listy (bez etykiet \"Opcja A\"):\n   - Zrobimy to jako dodatkowe zlecenie (płatne).\n   - Zrobimy to *zamiast* innego zadania (wymiana).\n   - Wrócimy do tematu w przyszłym miesiącu (backlog).\n5. **CTA:** Prośba o decyzję.\n\n### SCENARIUSZ B: PANIKA / AWARIA (Klient krzyczy/boi się)\nAlgorytm:\n1. **Spokój:** Podziękuj za sygnał, nie przepraszaj bez powodu.\n2. **Fakty:** Napisz, co widać w danych (zgaś emocje faktami).\n3. **Plan:** Napisz, co robisz (np. diagnoza w 30 min).\n4. **Bezpieczeństwo:** Zapewnij, że budżet/dane są bezpieczne.\n\n### SCENARIUSZ C: NEGOCJACJE / RABATY\nAlgorytm:\n1. **Zrozumienie:** Rozumiem sytuację rynkową.\n2. **Obrona Wartości:** Cena wynika z jakości seniorów. Nie możemy zejść z ceny bez utraty jakości.\n3. **Alternatywa:** Raty lub mniejszy zakres.\n\n### SCENARIUSZ D: SUBIEKTYWNE ODCZUCIA (\"Nie czuję tego\" / \"Brak pazura\")\nAlgorytm:\n1. **Otwartość:** Podziękuj za szczery feedback.\n2. **Analiza:** Nie zgaduj. Poproś o konkrety.\n3. **Benchmark:** Poproś o 1-2 przykłady tekstów/grafik konkurencji, które mają ten \"pazur\".\n4. **Plan:** Obiecaj rewizję po otrzymaniu inspiracji.\n\n---\n\n## Format Wyjściowy\nWygeneruj treść odpowiedzi w formacie Markdown, gotową do wklejenia na Slacka."
        }
      },
      "id": "e4c883e5-f626-49df-9bb3-5fb4355d3011",
      "name": "Asystent AI - Skrzynka pocztowa",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1744,
        400
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4o Mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1440,
        704
      ],
      "id": "d40258da-18a2-40fe-b967-8becb57f4173",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7AzOZOpey5mYnsPi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Agnet AI",
        "height": 820,
        "width": 1120,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1392,
        288
      ],
      "typeVersion": 1,
      "id": "c94a858e-9ccc-4b4c-83c2-5e3e60c1e1e5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Slack - Nowa odpowiedź",
        "height": 260,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2624,
        288
      ],
      "typeVersion": 1,
      "id": "9214c498-5d2c-4935-ae8b-da03a39d4035",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Agent AI - Skrzynka pocztowa",
        "height": 80,
        "width": 3100,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        160
      ],
      "typeVersion": 1,
      "id": "67b09f47-565f-4295-9528-42641e5fb4e6",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "watchWorkspace": true,
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        624
      ],
      "id": "4efa21bd-f676-43cb-9d7b-ca5536f6d631",
      "name": "Slack Trigger6",
      "webhookId": "811616af-5144-40fa-bbe4-4f70e339f5ab",
      "credentials": {
        "slackApi": {
          "id": "NPzsVJ02vnm3zhgA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a00b4232-e6f0-4769-ab9d-143316fd8f83",
              "leftValue": "={{ $json.user }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        864,
        608
      ],
      "id": "ce1f17e8-fcf1-4726-a23b-13300f37582f",
      "name": "If6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.files[0].mimetype }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "6cbdba35-9be0-4668-b3ee-47ba24cae379"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "12067f8e-c660-4843-a563-a6ab82fbead5",
                    "leftValue": "={{ $json.files[0].mimetype }}",
                    "rightValue": "audio/mp4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        464,
        608
      ],
      "id": "36d6cf91-8036-4cca-9e85-5f489e12945b",
      "name": "Tekst czy Audio6"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        864,
        384
      ],
      "id": "5ad464db-62fe-4263-a9cc-62585c00e27f",
      "name": "Transkrypcja6",
      "credentials": {
        "openAiApi": {
          "id": "7AzOZOpey5mYnsPi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8198dd2d-3d5d-462d-b066-8a5db538fc9b",
              "leftValue": "={{ $json.subtype }}",
              "rightValue": "message_deleted",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "5caab4a9-8239-4670-ad0f-e1234237a30f",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        192,
        624
      ],
      "id": "840ac00c-791c-49ad-a292-5ffd40834252",
      "name": "Nieporządany event6"
    },
    {
      "parameters": {
        "url": "={{ $json.files[0].url_private_download }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        384
      ],
      "id": "e16ab3b1-ec9b-4fc2-9785-1a51b603edb3",
      "name": "Pobierz notatke głosową6",
      "credentials": {
        "slackApi": {
          "id": "NPzsVJ02vnm3zhgA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "153970be-9674-4f01-ac41-9782f5408f56",
              "name": "id",
              "value": "={{ $('Slack Trigger6').item.json.thread_ts || $('Slack Trigger6').item.json.ts }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "88dadce5-05ca-4ad7-9df1-a68febc87ad1",
      "name": "Event ID6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        592
      ]
    },
    {
      "parameters": {
        "content": "## Slack - Nowa wiadomość",
        "height": 500,
        "width": 1420
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        304
      ],
      "typeVersion": 1,
      "id": "04bda272-0568-44d0-9a5f-7a1f09f50d6e",
      "name": "Sticky Note21"
    }
  ],
  "connections": {
    "Pamięć podręczna": {
      "ai_memory": [
        [
          {
            "node": "Asystent AI - Skrzynka pocztowa",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "pobierzWiadomosci": {
      "ai_tool": [
        [
          {
            "node": "Asystent AI - Skrzynka pocztowa",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "pobierzPojedynczaWiadomosc": {
      "ai_tool": [
        [
          {
            "node": "Asystent AI - Skrzynka pocztowa",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "dodajEtykiete": {
      "ai_tool": [
        [
          {
            "node": "Asystent AI - Skrzynka pocztowa",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "wyslijWiadomosc": {
      "ai_tool": [
        [
          {
            "node": "Asystent AI - Skrzynka pocztowa",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "odpowiedzNaWiadomosc": {
      "ai_tool": [
        [
          {
            "node": "Asystent AI - Skrzynka pocztowa",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Asystent AI - Skrzynka pocztowa": {
      "main": [
        [
          {
            "node": "Wiadomość - Odpowiedź AI Agenta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Asystent AI - Skrzynka pocztowa",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger6": {
      "main": [
        [
          {
            "node": "Nieporządany event6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Event ID6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tekst czy Audio6": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pobierz notatke głosową6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transkrypcja6": {
      "main": [
        [
          {
            "node": "Event ID6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nieporządany event6": {
      "main": [
        [
          {
            "node": "Tekst czy Audio6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pobierz notatke głosową6": {
      "main": [
        [
          {
            "node": "Transkrypcja6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event ID6": {
      "main": [
        [
          {
            "node": "Asystent AI - Skrzynka pocztowa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}