n8n/agent_AI_gmail.json
{
  "nodes": [
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08S7S2P0MS",
          "mode": "list",
          "cachedResultName": "5-agentow-ai"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Slack Trigger').item.json.ts }}"
            }
          },
          "mrkdwn": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1600,
        -48
      ],
      "id": "bdf5a9cf-0cba-4d38-bbe8-2a365d1b0af2",
      "name": "Wiadomość - Odpowiedź AI Agenta",
      "webhookId": "c9c38c98-1146-4a47-a02f-021e11d44e00",
      "credentials": {
        "slackApi": {
          "id": "NPzsVJ02vnm3zhgA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4o Mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        784,
        304
      ],
      "id": "6673085a-09f7-4b1c-8e33-c844bcfd7b7f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7AzOZOpey5mYnsPi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Transkrypcja').item.json.text }}",
        "options": {
          "systemMessage": "=<Cel>\n    <Glowny>Efektywne zarządzanie skrzynką pocztową i komunikacją email</Glowny>\n</Cel>\n<Zmienne>\n<Aktualna Data i Godzina> Aktualna data i godzina to: {{ $now.format('DDDD HH:mm') }} </Aktualna Data i Godzina> \n`</Zmienne>\n\n\n<Instrukcje>\n    <Instrukcja>\n        <Nazwa>PobierzWiadomosci</Nazwa>\n        <Cel>Pobieranie wiadomości z wskazanego okresu.</Cel>\n        <Zastosowanie>\n            - Gdy użytkownik prosi o wyświetlenie wiadomości z określonego okresu.\n            - Gdy potrzebujesz znaleźć wiadomości do dalszej analizy lub działania.\n        </Zastosowanie>\n        <WymaganePola>\n            - **`date_after`**: Format YYYY-MM-DDThh:mm, określa początek okresu pobierania wiadomości.\n        </WymaganePola>\n        <OpcjonalnePola>\n            - **`date_before`**: Format YYYY-MM-DDThh:mm, określa koniec okresu pobierania wiadomości.\n            - **`query`**: Pozwala wyszukiwać konkretne wiadomości po tytule, adresie email itp.\n        </OpcjonalnePola>\n    </Instrukcja>\n    \n    <Instrukcja>\n        <Nazwa>PobierzPojedynczaWiadomosc</Nazwa>\n        <Cel>Pobieranie szczegółów pojedynczej wiadomości.</Cel>\n        <Zastosowanie>\n            - Gdy potrzebujesz zobaczyć pełną treść wybranej wiadomości.\n            - Po znalezieniu wiadomości za pomocą PobierzWiadomosci, aby uzyskać szczegóły.\n        </Zastosowanie>\n        <WymaganePola>\n            - **`email_id`**: Unikalny numer ID wiadomości email.\n        </WymaganePola>\n    </Instrukcja>\n    \n    <Instrukcja>\n        <Nazwa>DodajEtykiete</Nazwa>\n        <Cel>Dodawanie etykiety do wiadomości w celu kategoryzacji.</Cel>\n        <Zastosowanie>\n            - Gdy wiadomość wymaga odpowiedniego oznaczenia według kategorii.\n            - Po analizie treści wiadomości i ustaleniu właściwej etykiety.\n        </Zastosowanie>\n        <WymaganePola>\n            - **`email_id`**: Unikalny numer ID wiadomości email.\n            - **`label`... [truncated]",
          "returnIntermediateSteps": true
        }
      },
      "id": "b5635353-54f9-45e5-9d24-64bd04d3cfc3",
      "name": "Agent AI (Gmail)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1088,
        -48
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id }}"
      },
      "id": "e96adc95-55f4-4e74-940e-4597802da4af",
      "name": "Cache",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        896,
        304
      ],
      "notesInFlow": false
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Pobiera wiadomości z wskazanego okresu.\nParametry:\n- date_after (date) – obowiązkowe, format: YYYY-MM-DDThh:mm, określa początek okresu pobierania wiadomości\n- date_before (date) – nieobowiązkowe, format: YYYY-MM-DDThh:mm, określa koniec okresu pobierania wiadomości\n- query (string) – nieobowiązkowe, pozwala wyszukiwać konkretne wiadomości po tytule, adresie email itp.",
        "operation": "getAll",
        "filters": {
          "q": "={{ $fromAI(\"query\") }}",
          "receivedAfter": "={{ $fromAI(\"date_after\") }}",
          "receivedBefore": "={{ $fromAI(\"date_before\") }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1264,
        304
      ],
      "id": "4f548a17-fa23-418a-8763-47071a1dab15",
      "name": "Get Message",
      "webhookId": "79cf8843-666b-4145-b4e1-1bdf16d21e14"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Pobiera szczegóły pojedynczej wiadomości.\nParametry:\n- email_id (string) – obowiązkowe, unikalny numer ID wiadomości email",
        "operation": "get",
        "messageId": "={{ $fromAI(\"email_id\") }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1424,
        304
      ],
      "id": "3061af3d-2d4d-4e8d-8c93-de65d1e634b1",
      "name": "Get Single Message",
      "webhookId": "b884d0f1-6fb7-44f1-9e4a-8383b2677706"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Dodaje etykietę do wiadomości.\nParametry:\nemail_id (string) - obowiązkowe, unikalny numer ID wiadomości email\nlabel (array) - obowiązkowe, lista etykiet do dodania do wiadomości\n\nDostępne etykiety i zasady ich stosowania:\nLabel_7519745569393273505 - dla faktur: używaj dla wszystkich wiadomości zawierających faktury, rachunki lub dokumenty finansowe\nLabel_466407256772235691 - dla klienta: używaj dla korespondencji związanej z klientami, ofert, zapytań lub komunikacji od/do klientów\nLabel_6704420327198514074 - dla księgowej: używaj dla wiadomości przeznaczonych dla księgowości, zawierających rozliczenia, dokumentację finansową lub wymagających uwagi księgowej\nLabel_4898654605542370916 - dla newsletterów: używaj dla biuletynów, subskrypcji i cyklicznych wiadomości informacyjnych\n",
        "operation": "addLabels",
        "messageId": "={{ $fromAI(\"email_id\") }}",
        "labelIds": "={{ $fromAI(\"label\",\"ID etykiety\") }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1568,
        304
      ],
      "id": "974c5885-72ae-448b-8179-0f8c2dc8ef29",
      "name": "Add Label",
      "webhookId": "5472da96-1aef-4aab-922e-35685e8a0c57"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Wysyła nową wiadomość email.\nParametry:\n- to_mail_addresses (string) - obowiązkowe, adres lub adresy email odbiorców\n- mail_msg (string) - obowiązkowe, treść wiadomości\n- subject (string) - obowiązkowe, tytuł wiadomości",
        "sendTo": "={{ $fromAI(\"to_mail_addresses\") }}",
        "subject": "={{ $fromAI(\"subject\") }}",
        "message": "={{ $fromAI(\"mail_msg\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1728,
        304
      ],
      "id": "e8f7b0be-63ad-4f06-8882-15f426c54182",
      "name": "Send Message",
      "webhookId": "52628092-d75c-42f7-9c52-503521b1979a"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Odpowiada na otrzymaną wiadomość email, zachowując wątek korespondencji.\nParametry:\n- email_id (string) - obowiązkowe, unikalny numer ID wiadomości, na którą odpowiadamy\n- mail_msg (string) - obowiązkowe, treść odpowiedzi",
        "operation": "reply",
        "messageId": "={{ $fromAI(\"email_id\") }}",
        "message": "={{ $fromAI(\"mail_msg\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1888,
        304
      ],
      "id": "8d046f76-d690-4906-aedf-2eed07788f1f",
      "name": "Reply to Message",
      "webhookId": "d2c74e4d-22cd-4c57-9017-8c285012b3dd"
    },
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "channelId": {
          "__rl": true,
          "value": "C08S7S2P0MS",
          "mode": "list",
          "cachedResultName": "5-agentow-ai"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        -64
      ],
      "id": "295cd1b1-3eb9-44ac-aa9d-d8859b472e86",
      "name": "Slack Trigger",
      "webhookId": "811616af-5144-40fa-bbe4-4f70e339f5ab",
      "credentials": {
        "slackApi": {
          "id": "NPzsVJ02vnm3zhgA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8198dd2d-3d5d-462d-b066-8a5db538fc9b",
              "leftValue": "={{ $json.subtype }}",
              "rightValue": "message_deleted",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "5caab4a9-8239-4670-ad0f-e1234237a30f",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        -64
      ],
      "id": "fab1623a-78c5-462f-bc80-2b4f36e17b2d",
      "name": "Nieporządany event"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6cbdba35-9be0-4668-b3ee-47ba24cae379",
                    "leftValue": "={{ $json.files[0].mimetype }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "12067f8e-c660-4843-a563-a6ab82fbead5",
                    "leftValue": "={{ $json.files[0].mimetype }}",
                    "rightValue": "audio/mp4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -64,
        -64
      ],
      "id": "5c1ca5de-7a40-43e0-971e-3a8c26256e12",
      "name": "Tekst czy Audio"
    },
    {
      "parameters": {
        "url": "={{ $json.files[0].url_private_download }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        112
      ],
      "id": "c804cf3d-d292-4388-b617-d7360cc6ece1",
      "name": "Pobierz notatke głosową"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        464,
        112
      ],
      "id": "97d2b06e-48ac-490c-bdfd-7713d8b95401",
      "name": "Transkrypcja"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a00b4232-e6f0-4769-ab9d-143316fd8f83",
              "leftValue": "={{ $json.user }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        -192
      ],
      "id": "c77cae55-68f5-4627-abd5-cce9af3bc6ed",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "153970be-9674-4f01-ac41-9782f5408f56",
              "name": "id",
              "value": "={{ $('Slack Trigger').item.json.thread_ts || $('Slack Trigger').item.json.ts }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "13e73263-4a4c-4e1c-9f09-02d8825a8ea5",
      "name": "Event ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        -48
      ]
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent AI (Gmail)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent AI (Gmail)": {
      "main": [
        [
          {
            "node": "Wiadomość - Odpowiedź AI Agenta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache": {
      "ai_memory": [
        [
          {
            "node": "Agent AI (Gmail)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Message": {
      "ai_tool": [
        [
          {
            "node": "Agent AI (Gmail)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Single Message": {
      "ai_tool": [
        [
          {
            "node": "Agent AI (Gmail)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Label": {
      "ai_tool": [
        [
          {
            "node": "Agent AI (Gmail)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Message": {
      "ai_tool": [
        [
          {
            "node": "Agent AI (Gmail)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply to Message": {
      "ai_tool": [
        [
          {
            "node": "Agent AI (Gmail)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Nieporządany event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nieporządany event": {
      "main": [
        [
          {
            "node": "Tekst czy Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tekst czy Audio": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pobierz notatke głosową",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pobierz notatke głosową": {
      "main": [
        [
          {
            "node": "Transkrypcja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transkrypcja": {
      "main": [
        [
          {
            "node": "Event ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Event ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event ID": {
      "main": [
        [
          {
            "node": "Agent AI (Gmail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78243e79453de537183305a3c3825e24de7eb0bc8972ce5a8ab629f87f2161d2"
  }
}