n8n/agent_AI_gmail.json
{
  "nodes": [
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A1HQ6UV5G",
          "mode": "list",
          "cachedResultName": "general"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Slack Trigger').item.json.ts }}"
            }
          },
          "mrkdwn": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1600,
        -48
      ],
      "id": "f4614977-73a6-4432-ba76-8c06f6cb2c70",
      "name": "Wiadomość - Odpowiedź AI Agenta",
      "webhookId": "c0043678-39c7-4af9-85bd-d48d0d15d51c",
      "credentials": {
        "slackApi": {
          "id": "NPzsVJ02vnm3zhgA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4o Mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        784,
        304
      ],
      "id": "a1c6735c-94e8-477f-9495-9dbd7c4c13a5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7AzOZOpey5mYnsPi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Transcription').isExecuted ? $('Transcription').item.json.text : $('Slack Trigger').item.json.text }}",
        "options": {
          "systemMessage": "=<Cel>\n    <Glowny>Efektywne zarządzanie skrzynką pocztową i komunikacją email</Glowny>\n</Cel>\n<Zmienne>\n<Aktualna Data i Godzina> Aktualna data i godzina to: {{ $now.format('DDDD HH:mm') }} </Aktualna Data i Godzina> \n`</Zmienne>\n\n\n<Instrukcje>\n    <Instrukcja>\n        <Nazwa>PobierzWiadomosci</Nazwa>\n        <Cel>Pobieranie wiadomości z wskazanego okresu.</Cel>\n        <Zastosowanie>\n            - Gdy użytkownik prosi o wyświetlenie wiadomości z określonego okresu.\n            - Gdy potrzebujesz znaleźć wiadomości do dalszej analizy lub działania.\n        </Zastosowanie>\n        <WymaganePola>\n            - **`date_after`**: Format YYYY-MM-DDThh:mm, określa początek okresu pobierania wiadomości.\n        </WymaganePola>\n        <OpcjonalnePola>\n            - **`date_before`**: Format YYYY-MM-DDThh:mm, określa koniec okresu pobierania wiadomości.\n            - **`query`**: Pozwala wyszukiwać konkretne wiadomości po tytule, adresie email itp.\n        </OpcjonalnePola>\n    </Instrukcja>\n    \n    <Instrukcja>\n        <Nazwa>PobierzPojedynczaWiadomosc</Nazwa>\n        <Cel>Pobieranie szczegółów pojedynczej wiadomości.</Cel>\n        <Zastosowanie>\n            - Gdy potrzebujesz zobaczyć pełną treść wybranej wiadomości.\n            - Po znalezieniu wiadomości za pomocą PobierzWiadomosci, aby uzyskać szczegóły.\n        </Zastosowanie>\n        <WymaganePola>\n            - **`email_id`**: Unikalny numer ID wiadomości email.\n        </WymaganePola>\n    </Instrukcja>\n    \n    <Instrukcja>\n        <Nazwa>DodajEtykiete</Nazwa>\n        <Cel>Dodawanie etykiety do wiadomości w celu kategoryzacji.</Cel>\n        <Zastosowanie>\n            - Gdy wiadomość wymaga odpowiedniego oznaczenia według kategorii.\n            - Po analizie treści wiadomości i ustaleniu właściwej etykiety.\n        </Zastosowanie>\n        <WymaganePola>\n            - **`email_id`**: Unikalny numer ID wiadomości email.\n            - **`label`... [truncated]",
          "returnIntermediateSteps": true
        }
      },
      "id": "3817dda0-c7eb-4119-8cec-8c9f0d212aff",
      "name": "Agent AI (Gmail)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1088,
        -48
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id }}"
      },
      "id": "4d8c34f2-6871-4cfb-9a80-af8ae1663cb2",
      "name": "Cache",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        896,
        304
      ],
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "9iT6cNqBpobjvrvH",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Pobiera wiadomości z wskazanego okresu.\nParametry:\n- date_after (date) – obowiązkowe, format: YYYY-MM-DDThh:mm, określa początek okresu pobierania wiadomości\n- date_before (date) – nieobowiązkowe, format: YYYY-MM-DDThh:mm, określa koniec okresu pobierania wiadomości\n- query (string) – nieobowiązkowe, pozwala wyszukiwać konkretne wiadomości po tytule, adresie email itp.",
        "operation": "getAll",
        "filters": {
          "q": "={{ $fromAI(\"query\") }}",
          "receivedAfter": "={{ $fromAI(\"date_after\") }}",
          "receivedBefore": "={{ $fromAI(\"date_before\") }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1264,
        304
      ],
      "id": "f3bedcb4-942c-40f8-a747-dd83d7f5f8f8",
      "name": "Get Message",
      "webhookId": "68e704d0-88d5-48c3-982b-652e1c0b4c70",
      "credentials": {
        "gmailOAuth2": {
          "id": "UkJS0m5NScuFyhnL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Pobiera szczegóły pojedynczej wiadomości.\nParametry:\n- email_id (string) – obowiązkowe, unikalny numer ID wiadomości email",
        "operation": "get",
        "messageId": "={{ $fromAI(\"email_id\") }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1424,
        304
      ],
      "id": "36a824cf-6671-4cf2-bb1a-455a6c118768",
      "name": "Get Single Message",
      "webhookId": "a874ce39-bb3b-42f5-8ae3-35628d793c74",
      "credentials": {
        "gmailOAuth2": {
          "id": "UkJS0m5NScuFyhnL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Dodaje etykietę do wiadomości.\nParametry:\nemail_id (string) - obowiązkowe, unikalny numer ID wiadomości email\nlabel (array) - obowiązkowe, lista etykiet do dodania do wiadomości\n\nDostępne etykiety i zasady ich stosowania:\nLabel_7519745569393273505 - dla faktur: używaj dla wszystkich wiadomości zawierających faktury, rachunki lub dokumenty finansowe\nLabel_466407256772235691 - dla klienta: używaj dla korespondencji związanej z klientami, ofert, zapytań lub komunikacji od/do klientów\nLabel_6704420327198514074 - dla księgowej: używaj dla wiadomości przeznaczonych dla księgowości, zawierających rozliczenia, dokumentację finansową lub wymagających uwagi księgowej\nLabel_4898654605542370916 - dla newsletterów: używaj dla biuletynów, subskrypcji i cyklicznych wiadomości informacyjnych\n",
        "operation": "addLabels",
        "messageId": "={{ $fromAI(\"email_id\") }}",
        "labelIds": "={{ $fromAI(\"label\",\"ID etykiety\") }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1568,
        304
      ],
      "id": "7ba06b44-253e-439c-9ad9-5074deb07686",
      "name": "Add Label",
      "webhookId": "d7a3ea01-7406-4db6-a481-78f99f7d90a6",
      "credentials": {
        "gmailOAuth2": {
          "id": "UkJS0m5NScuFyhnL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Wysyła nową wiadomość email.\nParametry:\n- to_mail_addresses (string) - obowiązkowe, adres lub adresy email odbiorców\n- mail_msg (string) - obowiązkowe, treść wiadomości\n- subject (string) - obowiązkowe, tytuł wiadomości",
        "sendTo": "={{ $fromAI(\"to_mail_addresses\") }}",
        "subject": "={{ $fromAI(\"subject\") }}",
        "message": "={{ $fromAI(\"mail_msg\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1728,
        304
      ],
      "id": "b61a7522-747d-463a-a139-57e86dce4de4",
      "name": "Send Message",
      "webhookId": "b00f74e3-bfaf-48d3-a073-9ea04b5f0e70",
      "credentials": {
        "gmailOAuth2": {
          "id": "UkJS0m5NScuFyhnL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Odpowiada na otrzymaną wiadomość email, zachowując wątek korespondencji.\nParametry:\n- email_id (string) - obowiązkowe, unikalny numer ID wiadomości, na którą odpowiadamy\n- mail_msg (string) - obowiązkowe, treść odpowiedzi",
        "operation": "reply",
        "messageId": "={{ $fromAI(\"email_id\") }}",
        "message": "={{ $fromAI(\"mail_msg\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1888,
        304
      ],
      "id": "c7da6a2f-feac-42d2-815b-bbbebd6e4ab1",
      "name": "Reply to Message",
      "webhookId": "d1202640-ae25-401b-ba2e-572c7c0dfee6",
      "credentials": {
        "gmailOAuth2": {
          "id": "UkJS0m5NScuFyhnL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "channelId": {
          "__rl": true,
          "value": "C0A1HQ6UV5G",
          "mode": "list",
          "cachedResultName": "general"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        -64
      ],
      "id": "c6843013-f198-4175-8ecb-6e280bd9c622",
      "name": "Slack Trigger",
      "webhookId": "5f3510e9-3292-4dee-a166-45217274b318",
      "credentials": {
        "slackApi": {
          "id": "NPzsVJ02vnm3zhgA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "153970be-9674-4f01-ac41-9782f5408f56",
              "name": "id",
              "value": "={{ $('Slack Trigger').item.json.thread_ts || $('Slack Trigger').item.json.ts }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "71d59a0a-7f83-433a-a4c5-26c3de0eb116",
      "name": "Event ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        -48
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        464,
        112
      ],
      "id": "019ba2cc-04dd-4004-ab23-028e25e021b1",
      "name": "Transcription",
      "credentials": {
        "openAiApi": {
          "id": "7AzOZOpey5mYnsPi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6cbdba35-9be0-4668-b3ee-47ba24cae379",
                    "leftValue": "={{ $json.files[0].mimetype }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "12067f8e-c660-4843-a563-a6ab82fbead5",
                    "leftValue": "={{ $json.files[0].mimetype }}",
                    "rightValue": "audio/mp4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -64,
        -64
      ],
      "id": "9b943aa0-2354-4c5a-ba13-947add36b2c9",
      "name": "Text or Audio?"
    },
    {
      "parameters": {
        "url": "={{ $json.files[0].url_private_download }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        112
      ],
      "id": "195e5f21-34ca-4610-b91b-eaa4eb521fc4",
      "name": "Download voice note",
      "credentials": {
        "slackApi": {
          "id": "NPzsVJ02vnm3zhgA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8198dd2d-3d5d-462d-b066-8a5db538fc9b",
              "leftValue": "={{ $json.subtype }}",
              "rightValue": "message_deleted",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "5caab4a9-8239-4670-ad0f-e1234237a30f",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        -64
      ],
      "id": "2b74bb53-1e7a-4031-b711-e9fce449b4d4",
      "name": "Validation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a00b4232-e6f0-4769-ab9d-143316fd8f83",
              "leftValue": "={{ $json.user }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        -192
      ],
      "id": "e3bf3eea-5354-4b9e-bdfd-2634e7e86bff",
      "name": "Validation 2"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent AI (Gmail)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent AI (Gmail)": {
      "main": [
        [
          {
            "node": "Wiadomość - Odpowiedź AI Agenta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache": {
      "ai_memory": [
        [
          {
            "node": "Agent AI (Gmail)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Message": {
      "ai_tool": [
        [
          {
            "node": "Agent AI (Gmail)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Single Message": {
      "ai_tool": [
        [
          {
            "node": "Agent AI (Gmail)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Label": {
      "ai_tool": [
        [
          {
            "node": "Agent AI (Gmail)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Message": {
      "ai_tool": [
        [
          {
            "node": "Agent AI (Gmail)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply to Message": {
      "ai_tool": [
        [
          {
            "node": "Agent AI (Gmail)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event ID": {
      "main": [
        [
          {
            "node": "Agent AI (Gmail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcription": {
      "main": [
        [
          {
            "node": "Event ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text or Audio?": {
      "main": [
        [
          {
            "node": "Validation 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download voice note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download voice note": {
      "main": [
        [
          {
            "node": "Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation": {
      "main": [
        [
          {
            "node": "Text or Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation 2": {
      "main": [
        [
          {
            "node": "Event ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78243e79453de537183305a3c3825e24de7eb0bc8972ce5a8ab629f87f2161d2"
  }
}