n8n/agent_AI_gmail.json
{
  "nodes": [
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A1HQ6UV5G",
          "mode": "list",
          "cachedResultName": "general"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Slack Trigger').item.json.ts }}"
            }
          },
          "mrkdwn": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1600,
        -48
      ],
      "id": "5aded4e4-5db4-4966-b10e-c1fb8016a950",
      "name": "Wiadomość - Odpowiedź AI Agenta",
      "webhookId": "206d55a7-936d-46b2-9a68-15de2507f915",
      "credentials": {
        "slackApi": {
          "id": "NPzsVJ02vnm3zhgA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4o Mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        784,
        304
      ],
      "id": "9da96056-7aa5-4332-9ad0-385b916e23ce",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7AzOZOpey5mYnsPi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Transcription').isExecuted ? $('Transcription').item.json.text : $('Slack Trigger').item.json.text }}",
        "options": {
          "systemMessage": "=<Cel>\n    <Glowny>Efektywne zarządzanie skrzynką pocztową i komunikacją email</Glowny>\n</Cel>\n<Zmienne>\n<Aktualna Data i Godzina> Aktualna data i godzina to: {{ $now.format('DDDD HH:mm') }} </Aktualna Data i Godzina> \n`</Zmienne>\n\n\n<Instrukcje>\n    <Instrukcja>\n        <Nazwa>PobierzWiadomosci</Nazwa>\n        <Cel>Pobieranie wiadomości z wskazanego okresu.</Cel>\n        <Zastosowanie>\n            - Gdy użytkownik prosi o wyświetlenie wiadomości z określonego okresu.\n            - Gdy potrzebujesz znaleźć wiadomości do dalszej analizy lub działania.\n        </Zastosowanie>\n        <WymaganePola>\n            - **`date_after`**: Format YYYY-MM-DDThh:mm, określa początek okresu pobierania wiadomości.\n        </WymaganePola>\n        <OpcjonalnePola>\n            - **`date_before`**: Format YYYY-MM-DDThh:mm, określa koniec okresu pobierania wiadomości.\n            - **`query`**: Pozwala wyszukiwać konkretne wiadomości po tytule, adresie email itp.\n        </OpcjonalnePola>\n    </Instrukcja>\n    \n    <Instrukcja>\n        <Nazwa>PobierzPojedynczaWiadomosc</Nazwa>\n        <Cel>Pobieranie szczegółów pojedynczej wiadomości.</Cel>\n        <Zastosowanie>\n            - Gdy potrzebujesz zobaczyć pełną treść wybranej wiadomości.\n            - Po znalezieniu wiadomości za pomocą PobierzWiadomosci, aby uzyskać szczegóły.\n        </Zastosowanie>\n        <WymaganePola>\n            - **`email_id`**: Unikalny numer ID wiadomości email.\n        </WymaganePola>\n    </Instrukcja>\n    \n    <Instrukcja>\n        <Nazwa>DodajEtykiete</Nazwa>\n        <Cel>Dodawanie etykiety do wiadomości w celu kategoryzacji.</Cel>\n        <Zastosowanie>\n            - Gdy wiadomość wymaga odpowiedniego oznaczenia według kategorii.\n            - Po analizie treści wiadomości i ustaleniu właściwej etykiety.\n        </Zastosowanie>\n        <WymaganePola>\n            - **`email_id`**: Unikalny numer ID wiadomości email.\n            - **`label`... [truncated]",
          "returnIntermediateSteps": true
        }
      },
      "id": "f8f06895-a980-48af-80a3-961e7840c2ea",
      "name": "Agent AI (Gmail)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1088,
        -48
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id }}"
      },
      "id": "b434c117-c790-4045-97f5-2c9c4a889613",
      "name": "Cache",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        896,
        304
      ],
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "9iT6cNqBpobjvrvH",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Pobiera wiadomości z wskazanego okresu.\nParametry:\n- date_after (date) – obowiązkowe, format: YYYY-MM-DDThh:mm, określa początek okresu pobierania wiadomości\n- date_before (date) – nieobowiązkowe, format: YYYY-MM-DDThh:mm, określa koniec okresu pobierania wiadomości\n- query (string) – nieobowiązkowe, pozwala wyszukiwać konkretne wiadomości po tytule, adresie email itp.",
        "operation": "getAll",
        "filters": {
          "q": "={{ $fromAI(\"query\") }}",
          "receivedAfter": "={{ $fromAI(\"date_after\") }}",
          "receivedBefore": "={{ $fromAI(\"date_before\") }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1264,
        304
      ],
      "id": "c4e2b8b5-2abd-46da-b7b4-3c569e0931e5",
      "name": "Get Message",
      "webhookId": "0b3d5c25-8cb9-4992-893c-6c1cbfa2dcb0",
      "credentials": {
        "gmailOAuth2": {
          "id": "UkJS0m5NScuFyhnL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Pobiera szczegóły pojedynczej wiadomości.\nParametry:\n- email_id (string) – obowiązkowe, unikalny numer ID wiadomości email",
        "operation": "get",
        "messageId": "={{ $fromAI(\"email_id\") }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1424,
        304
      ],
      "id": "c94953a0-8f7e-46cd-aa51-d5e403c05b0c",
      "name": "Get Single Message",
      "webhookId": "12627413-303b-4fb7-8fa7-1e43aa036019",
      "credentials": {
        "gmailOAuth2": {
          "id": "UkJS0m5NScuFyhnL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Dodaje etykietę do wiadomości.\nParametry:\nemail_id (string) - obowiązkowe, unikalny numer ID wiadomości email\nlabel (array) - obowiązkowe, lista etykiet do dodania do wiadomości\n\nDostępne etykiety i zasady ich stosowania:\nLabel_7519745569393273505 - dla faktur: używaj dla wszystkich wiadomości zawierających faktury, rachunki lub dokumenty finansowe\nLabel_466407256772235691 - dla klienta: używaj dla korespondencji związanej z klientami, ofert, zapytań lub komunikacji od/do klientów\nLabel_6704420327198514074 - dla księgowej: używaj dla wiadomości przeznaczonych dla księgowości, zawierających rozliczenia, dokumentację finansową lub wymagających uwagi księgowej\nLabel_4898654605542370916 - dla newsletterów: używaj dla biuletynów, subskrypcji i cyklicznych wiadomości informacyjnych\n",
        "operation": "addLabels",
        "messageId": "={{ $fromAI(\"email_id\") }}",
        "labelIds": "={{ $fromAI(\"label\",\"ID etykiety\") }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1568,
        304
      ],
      "id": "e1c44168-74da-427c-ac6c-632eb5e30618",
      "name": "Add Label",
      "webhookId": "94a91ab9-9710-49ea-86f9-00345ad84eaf",
      "credentials": {
        "gmailOAuth2": {
          "id": "UkJS0m5NScuFyhnL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Wysyła nową wiadomość email.\nParametry:\n- to_mail_addresses (string) - obowiązkowe, adres lub adresy email odbiorców\n- mail_msg (string) - obowiązkowe, treść wiadomości\n- subject (string) - obowiązkowe, tytuł wiadomości",
        "sendTo": "={{ $fromAI(\"to_mail_addresses\") }}",
        "subject": "={{ $fromAI(\"subject\") }}",
        "message": "={{ $fromAI(\"mail_msg\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1728,
        304
      ],
      "id": "e01b0ea4-0a4a-485c-a147-65e67b37d16b",
      "name": "Send Message",
      "webhookId": "31a0a2c4-e0e0-4f48-9dfa-dcf13abfcc27",
      "credentials": {
        "gmailOAuth2": {
          "id": "UkJS0m5NScuFyhnL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Odpowiada na otrzymaną wiadomość email, zachowując wątek korespondencji.\nParametry:\n- email_id (string) - obowiązkowe, unikalny numer ID wiadomości, na którą odpowiadamy\n- mail_msg (string) - obowiązkowe, treść odpowiedzi",
        "operation": "reply",
        "messageId": "={{ $fromAI(\"email_id\") }}",
        "message": "={{ $fromAI(\"mail_msg\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1888,
        304
      ],
      "id": "14560c93-9c07-45ef-ad63-5d0aba65ab60",
      "name": "Reply to Message",
      "webhookId": "0f853c55-53eb-463b-ae61-aaa01766b7cc",
      "credentials": {
        "gmailOAuth2": {
          "id": "UkJS0m5NScuFyhnL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "channelId": {
          "__rl": true,
          "value": "C0A1HQ6UV5G",
          "mode": "list",
          "cachedResultName": "general"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        -64
      ],
      "id": "9de14794-5e8b-4954-b5ff-1be9f051c5bc",
      "name": "Slack Trigger",
      "webhookId": "6694e8e6-f886-4e0d-be41-7a0567b8d7c1",
      "credentials": {
        "slackApi": {
          "id": "NPzsVJ02vnm3zhgA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "153970be-9674-4f01-ac41-9782f5408f56",
              "name": "id",
              "value": "={{ $('Slack Trigger').item.json.thread_ts || $('Slack Trigger').item.json.ts }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "791abe6b-9ea3-4e7c-a2bf-0ef41efa574f",
      "name": "Event ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        -48
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        464,
        112
      ],
      "id": "b6668a9a-a33b-43c3-adea-cc0b71a67535",
      "name": "Transcription",
      "credentials": {
        "openAiApi": {
          "id": "7AzOZOpey5mYnsPi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6cbdba35-9be0-4668-b3ee-47ba24cae379",
                    "leftValue": "={{ $json.files[0].mimetype }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "12067f8e-c660-4843-a563-a6ab82fbead5",
                    "leftValue": "={{ $json.files[0].mimetype }}",
                    "rightValue": "audio/mp4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -64,
        -64
      ],
      "id": "0b6d65c6-8d84-4a0f-af50-9c831c1037da",
      "name": "Text or Audio?"
    },
    {
      "parameters": {
        "url": "={{ $json.files[0].url_private_download }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        112
      ],
      "id": "cad25d89-c5dd-4d43-a2c9-3bd6504c4b28",
      "name": "Download voice note",
      "credentials": {
        "slackApi": {
          "id": "NPzsVJ02vnm3zhgA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8198dd2d-3d5d-462d-b066-8a5db538fc9b",
              "leftValue": "={{ $json.subtype }}",
              "rightValue": "message_deleted",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "5caab4a9-8239-4670-ad0f-e1234237a30f",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        -64
      ],
      "id": "152e3bd1-2129-47d3-9c9e-55fba0273d1d",
      "name": "Validation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a00b4232-e6f0-4769-ab9d-143316fd8f83",
              "leftValue": "={{ $json.user }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        -192
      ],
      "id": "3a0b1aec-6429-4e8f-875b-e996563acdd9",
      "name": "Validation 2"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent AI (Gmail)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent AI (Gmail)": {
      "main": [
        [
          {
            "node": "Wiadomość - Odpowiedź AI Agenta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache": {
      "ai_memory": [
        [
          {
            "node": "Agent AI (Gmail)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Message": {
      "ai_tool": [
        [
          {
            "node": "Agent AI (Gmail)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Single Message": {
      "ai_tool": [
        [
          {
            "node": "Agent AI (Gmail)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Label": {
      "ai_tool": [
        [
          {
            "node": "Agent AI (Gmail)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Message": {
      "ai_tool": [
        [
          {
            "node": "Agent AI (Gmail)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply to Message": {
      "ai_tool": [
        [
          {
            "node": "Agent AI (Gmail)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event ID": {
      "main": [
        [
          {
            "node": "Agent AI (Gmail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcription": {
      "main": [
        [
          {
            "node": "Event ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text or Audio?": {
      "main": [
        [
          {
            "node": "Validation 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download voice note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download voice note": {
      "main": [
        [
          {
            "node": "Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation": {
      "main": [
        [
          {
            "node": "Text or Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation 2": {
      "main": [
        [
          {
            "node": "Event ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78243e79453de537183305a3c3825e24de7eb0bc8972ce5a8ab629f87f2161d2"
  }
}