akademia_automatyzacji_materiały/Agent_AI-Skrzynka_pocztowa.json
{
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id }}"
      },
      "id": "84d7bd44-2f7d-4172-9cfa-46eada950d3e",
      "name": "Pamięć podręczna",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        1600,
        720
      ],
      "notesInFlow": false
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08S7S2P0MS",
          "mode": "list",
          "cachedResultName": "5-agentow-ai"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Slack Trigger6').item.json.ts }}"
            }
          },
          "mrkdwn": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2720,
        368
      ],
      "id": "027e957b-96c8-41b5-b142-430c6e98a0e0",
      "name": "Wiadomość - Odpowiedź AI Agenta",
      "webhookId": "c9c38c98-1146-4a47-a02f-021e11d44e00"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Pobiera wiadomości z wskazanego okresu.\nParametry:\n- date_after (date) – obowiązkowe, format: YYYY-MM-DDThh:mm, określa początek okresu pobierania wiadomości\n- date_before (date) – nieobowiązkowe, format: YYYY-MM-DDThh:mm, określa koniec okresu pobierania wiadomości\n- query (string) – nieobowiązkowe, pozwala wyszukiwać konkretne wiadomości po tytule, adresie email itp.",
        "operation": "getAll",
        "filters": {
          "q": "={{ $fromAI(\"query\") }}",
          "receivedAfter": "={{ $fromAI(\"date_after\") }}",
          "receivedBefore": "={{ $fromAI(\"date_before\") }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1664,
        912
      ],
      "id": "57822b0c-ff66-4c07-b2ae-97fc6f4542d6",
      "name": "pobierzWiadomosci",
      "webhookId": "79cf8843-666b-4145-b4e1-1bdf16d21e14"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Pobiera szczegóły pojedynczej wiadomości.\nParametry:\n- email_id (string) – obowiązkowe, unikalny numer ID wiadomości email",
        "operation": "get",
        "messageId": "={{ $fromAI(\"email_id\") }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1872,
        944
      ],
      "id": "4001a06d-1ec4-4889-8c82-ec9c36ecbc77",
      "name": "pobierzPojedynczaWiadomosc",
      "webhookId": "b884d0f1-6fb7-44f1-9e4a-8383b2677706"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Dodaje etykietę do wiadomości.\nParametry:\nemail_id (string) - obowiązkowe, unikalny numer ID wiadomości email\nlabel (array) - obowiązkowe, lista etykiet do dodania do wiadomości\n\nDostępne etykiety i zasady ich stosowania:\nLabel_7519745569393273505 - dla faktur: używaj dla wszystkich wiadomości zawierających faktury, rachunki lub dokumenty finansowe\nLabel_466407256772235691 - dla klienta: używaj dla korespondencji związanej z klientami, ofert, zapytań lub komunikacji od/do klientów\nLabel_6704420327198514074 - dla księgowej: używaj dla wiadomości przeznaczonych dla księgowości, zawierających rozliczenia, dokumentację finansową lub wymagających uwagi księgowej\nLabel_4898654605542370916 - dla newsletterów: używaj dla biuletynów, subskrypcji i cyklicznych wiadomości informacyjnych\n",
        "operation": "addLabels",
        "messageId": "={{ $fromAI(\"email_id\") }}",
        "labelIds": "={{ $fromAI(\"label\",\"ID etykiety\") }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2048,
        944
      ],
      "id": "ab29ba0f-bd00-4ff4-b1e7-cb5a8b75fc43",
      "name": "dodajEtykiete",
      "webhookId": "5472da96-1aef-4aab-922e-35685e8a0c57"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Wysyła nową wiadomość email.\nParametry:\n- to_mail_addresses (string) - obowiązkowe, adres lub adresy email odbiorców\n- mail_msg (string) - obowiązkowe, treść wiadomości\n- subject (string) - obowiązkowe, tytuł wiadomości",
        "sendTo": "={{ $fromAI(\"to_mail_addresses\") }}",
        "subject": "={{ $fromAI(\"subject\") }}",
        "message": "={{ $fromAI(\"mail_msg\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2208,
        944
      ],
      "id": "d914c5f4-943a-4910-9ffa-5ad031ea26ec",
      "name": "wyslijWiadomosc",
      "webhookId": "52628092-d75c-42f7-9c52-503521b1979a"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Odpowiada na otrzymaną wiadomość email, zachowując wątek korespondencji.\nParametry:\n- email_id (string) - obowiązkowe, unikalny numer ID wiadomości, na którą odpowiadamy\n- mail_msg (string) - obowiązkowe, treść odpowiedzi",
        "operation": "reply",
        "messageId": "={{ $fromAI(\"email_id\") }}",
        "message": "={{ $fromAI(\"mail_msg\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2368,
        944
      ],
      "id": "9eb5e429-f88f-4abd-8dc8-df7d8fa2681a",
      "name": "odpowiedzNaWiadomosc",
      "webhookId": "d2c74e4d-22cd-4c57-9017-8c285012b3dd"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Transkrypcja6').item.json.text }}",
        "options": {
          "systemMessage": "=<Cel>\n    <Glowny>Efektywne zarządzanie skrzynką pocztową i komunikacją email</Glowny>\n</Cel>\n<Zmienne>\n<Aktualna Data i Godzina> Aktualna data i godzina to: {{ $now.format('DDDD HH:mm') }} </Aktualna Data i Godzina> \n`</Zmienne>\n\n\n<Instrukcje>\n    <Instrukcja>\n        <Nazwa>PobierzWiadomosci</Nazwa>\n        <Cel>Pobieranie wiadomości z wskazanego okresu.</Cel>\n        <Zastosowanie>\n            - Gdy użytkownik prosi o wyświetlenie wiadomości z określonego okresu.\n            - Gdy potrzebujesz znaleźć wiadomości do dalszej analizy lub działania.\n        </Zastosowanie>\n        <WymaganePola>\n            - **`date_after`**: Format YYYY-MM-DDThh:mm, określa początek okresu pobierania wiadomości.\n        </WymaganePola>\n        <OpcjonalnePola>\n            - **`date_before`**: Format YYYY-MM-DDThh:mm, określa koniec okresu pobierania wiadomości.\n            - **`query`**: Pozwala wyszukiwać konkretne wiadomości po tytule, adresie email itp.\n        </OpcjonalnePola>\n    </Instrukcja>\n    \n    <Instrukcja>\n        <Nazwa>PobierzPojedynczaWiadomosc</Nazwa>\n        <Cel>Pobieranie szczegółów pojedynczej wiadomości.</Cel>\n        <Zastosowanie>\n            - Gdy potrzebujesz zobaczyć pełną treść wybranej wiadomości.\n            - Po znalezieniu wiadomości za pomocą PobierzWiadomosci, aby uzyskać szczegóły.\n        </Zastosowanie>\n        <WymaganePola>\n            - **`email_id`**: Unikalny numer ID wiadomości email.\n        </WymaganePola>\n    </Instrukcja>\n    \n    <Instrukcja>\n        <Nazwa>DodajEtykiete</Nazwa>\n        <Cel>Dodawanie etykiety do wiadomości w celu kategoryzacji.</Cel>\n        <Zastosowanie>\n            - Gdy wiadomość wymaga odpowiedniego oznaczenia według kategorii.\n            - Po analizie treści wiadomości i ustaleniu właściwej etykiety.\n        </Zastosowanie>\n        <WymaganePola>\n            - **`email_id`**: Unikalny numer ID wiadomości email.\n            - **`label`**: Lista etykiet do dodania do wiadomości.\n        </WymaganePola>\n        <DostepneEtykiety>\n            - **Label_7519745569393273505**: Dla faktur - używaj dla wszystkich wiadomości zawierających faktury, rachunki lub dokumenty finansowe.\n            - **Label_466407256772235691**: Dla klienta - używaj dla korespondencji związanej z klientami, ofert, zapytań lub komunikacji od/do klientów.\n            - **Label_6704420327198514074**: Dla księgowej - używaj dla wiadomości przeznaczonych dla księgowości, zawierających rozliczenia, dokumentację finansową lub wymagających uwagi księgowej.\n            - **Label_4898654605542370916**: Dla newsletterów - używaj dla biuletynów, subskrypcji i cyklicznych wiadomości informacyjnych.\n        </DostepneEtykiety>\n    </Instrukcja>\n    \n    <Instrukcja>\n        <Nazwa>WyslijWiadomosc</Nazwa>\n        <Cel>Wysyłanie nowej wiadomości email.</Cel>\n        <Zastosowanie>\n            - Gdy użytkownik chce wysłać nową wiadomość email.\n            - Przygotowanie wiadomości z odpowiednim formatowaniem HTML.\n        </Zastosowanie>\n        <WymaganePola>\n            - **`to_mail_addresses`**: Adres lub adresy email odbiorców.\n            - **`mail_msg`**: Treść wiadomości w formacie HTML.\n            - **`subject`**: Tytuł wiadomości.\n        </WymaganePola>\n        <SzablonHTML>\n            <![CDATA[\n            <!DOCTYPE html>\n            <html>\n            <head>\n                <meta charset=\"UTF-8\">\n                <style>\n                    body {\n                        font-family: Arial, sans-serif;\n                        line-height: 1.6;\n                        color: #333333;\n                        margin: 0;\n                        padding: 0;\n                    }\n                    .container {\n                        padding: 15px 0;\n                    }\n                    .content {\n                        margin-bottom: 25px;\n                    }\n                    .footer {\n                        border-top: 1px solid #dddddd;\n                        padding-top: 15px;\n                        font-size: 12px;\n                        color: #666666;\n                    }\n                    p {\n                        margin: 0 0 15px 0;\n                    }\n                </style>\n            </head>\n            <body>\n                <div class=\"container\">\n                    <div class=\"content\">\n                        <!-- TREŚĆ WIADOMOŚCI -->\n                    </div>\n                    \n                    <div class=\"footer\">\n                        <p>Z poważaniem,</p>\n                        <p>Kacper Trzepieciński</p>\n                        <p>Co-Founder | Aibiz &amp; Akademia Automatyzacji</p>\n                    </div>\n                </div>\n            </body>\n            </html>\n            ]]>\n        </SzablonHTML>\n    </Instrukcja>\n    \n    <Instrukcja>\n        <Nazwa>OdpowiedzNaWiadomosc</Nazwa>\n        <Cel>Odpowiadanie na otrzymaną wiadomość email.</Cel>\n        <Zastosowanie>\n            - Gdy użytkownik chce odpowiedzieć na konkretną wiadomość.\n            - Po wyszukaniu odpowiedniej wiadomości za pomocą PobierzWiadomosci.\n        </Zastosowanie>\n        <WymaganePola>\n            - **`email_id`**: Unikalny numer ID wiadomości, na którą odpowiadamy.\n            - **`mail_msg`**: Treść odpowiedzi w formacie HTML.\n        </WymaganePola>\n    </Instrukcja>\n    \n    <Instrukcja>\n        <Nazwa>KalendarzAgent</Nazwa>\n        <Cel>Zarządzanie kalendarzem i wydarzeniami.</Cel>\n        <Zastosowanie>\n            - Gdy użytkownik prosi o sprawdzenie terminów w kalendarzu.\n            - Gdy użytkownik chce dodać, przesunąć lub usunąć spotkanie w kalendarzu.\n            - Dla wszystkich zadań związanych z kalendarzem.\n        </Zastosowanie>\n        <WymaganePola>\n            - **`client_msg`**: Sparafrazowane polecenie użytkownika w formie jasnej i czytelnej instrukcji.\n        </WymaganePola>\n    </Instrukcja>\n    \n    <Instrukcja>\n        <Nazwa>BazaWiedzyAgent</Nazwa>\n        <Cel>Uzyskiwanie informacji z firmowej bazy wiedzy.</Cel>\n        <Zastosowanie>\n            - Gdy użytkownik pyta o dokumenty, raporty, procedury firmowe.\n            - Gdy potrzebne są informacje przechowywane w bazie wiedzy.\n        </Zastosowanie>\n        <WymaganePola>\n            - **`client_msg`**: Sparafrazowane pytanie użytkownika w formie jasnej i czytelnej instrukcji.\n        </WymaganePola>\n    </Instrukcja>\n</Instrukcje>\n\n<PrzeplywInterakcjiZNarzedziami>\n    <Etap>Narzędzie **PobierzWiadomosci** służy do znajdowania wiadomości z określonego okresu.</Etap>\n    <Etap>Narzędzie **PobierzPojedynczaWiadomosc** używane jest do uzyskania pełnej treści konkretnej wiadomości.</Etap>\n    <Etap>Narzędzie **DodajEtykiete** służy do kategoryzowania wiadomości według odpowiednich etykiet.</Etap>\n    <Etap>Narzędzie **WyslijWiadomosc** używane jest do wysyłania nowych wiadomości email z pełnym formatowaniem HTML.</Etap>\n    <Etap>Narzędzie **OdpowiedzNaWiadomosc** służy do odpowiadania na istniejące wiadomości, zachowując wątek korespondencji.</Etap>\n    <Etap>Narzędzie **KalendarzAgent** używane jest do wszelkich operacji związanych z kalendarzem.</Etap>\n    <Etap>Narzędzie **BazaWiedzyAgent** służy do wyszukiwania informacji w firmowej bazie wiedzy.</Etap>\n</PrzeplywInterakcjiZNarzedziami>\n\n<ZasadyWyszukiwaniaAdresowEmail>\n    <Etap>Gdy użytkownik prosi o znalezienie adresu email, użyj narzędzia **PobierzWiadomosci** z parametrem query zawierającym nazwę firmy lub nazwisko.</Etap>\n    <Etap>Domyślnie ustaw date_after na okres ostatnich 3 miesięcy jako początkowy zakres wyszukiwania.</Etap>\n    <Etap>Jeśli nie znajdziesz pasujących wiadomości, poproś użytkownika o przedział dat korespondencji z daną osobą/firmą.</Etap>\n    <Etap>Po otrzymaniu dat wykonaj ponowne wyszukiwanie z określonymi parametrami date_after i date_before.</Etap>\n    <Etap>Po znalezieniu wiadomości wyświetl nadawcę/odbiorcę i jego adres email.</Etap>\n    <Etap>Jeśli znajdziesz wiele potencjalnych adresów, przedstaw wszystkie opcje użytkownikowi.</Etap>\n</ZasadyWyszukiwaniaAdresowEmail>\n\n<FormatowanieOdpowiedzi>\n    <Format>\n        <Nazwa>Pogrubienie</Nazwa>\n        <Oznaczenie>*tekst*</Oznaczenie>\n        <Opis>Otocz tekst gwiazdkami (po jednej z każdej strony), aby go pogrubić</Opis>\n    </Format>\n    <Format>\n        <Nazwa>Kursywa</Nazwa>\n        <Oznaczenie>_tekst_</Oznaczenie>\n        <Opis>Otocz tekst znakami podkreślenia, aby zastosować kursywę</Opis>\n    </Format>\n    <Format>\n        <Nazwa>Przekreślenie</Nazwa>\n        <Oznaczenie>~tekst~</Oznaczenie>\n        <Opis>Otocz tekst znakami tyldy, aby go przekreślić</Opis>\n    </Format>\n    <Format>\n        <Nazwa>KodInline</Nazwa>\n        <Oznaczenie>`tekst`</Oznaczenie>\n        <Opis>Otocz tekst znakami grawisu, aby oznaczyć go jako kod</Opis>\n    </Format>\n    <Format>\n        <Nazwa>Cytat</Nazwa>\n        <Oznaczenie>>tekst</Oznaczenie>\n        <Opis>Dodaj znak większości przed tekstem, aby oznaczyć go jako cytat</Opis>\n    </Format>\n    <Format>\n        <Nazwa>BlokKodu</Nazwa>\n        <Oznaczenie>```tekst```</Oznaczenie>\n        <Opis>Otocz tekst trzema znakami grawisu, aby utworzyć blok kodu</Opis>\n    </Format>\n    <Format>\n        <Nazwa>ListaNumerowana</Nazwa>\n        <Oznaczenie>1. tekst</Oznaczenie>\n        <Opis>Dodaj liczbę, kropkę i spację przed tekstem, aby utworzyć listę numerowaną</Opis>\n    </Format>\n    <Format>\n        <Nazwa>ListaPunktowana</Nazwa>\n        <Oznaczenie>* tekst</Oznaczenie>\n        <Opis>Dodaj gwiazdkę i spację przed tekstem, aby utworzyć listę punktowaną</Opis>\n    </Format>\n</FormatowanieOdpowiedzi>\n\n<UwagiKoncowe>\n    - **Zawsze najpierw generuj treść wiadomości w formie zwykłego tekstu do potwierdzenia przez użytkownika.**\n    - **Prezentuj pobrane informacje w czytelnej, uporządkowanej formie zgodnej z formatowaniem Slack.**\n    - **Przed wysłaniem wiadomości sprawdzaj poprawność adresów email i zgłaszaj użytkownikowi wszelkie błędy.**\n    - **Zawsze używaj męskich form gramatycznych, ponieważ nadawcą jest Kacper Trzepieciński (mężczyzna).**\n    - **Przy tworzeniu wiadomości HTML zastępuj komentarz <!-- TREŚĆ WIADOMOŚCI --> odpowiednią treścią.**\n    - **Etykietuj wiadomości tylko wtedy, gdy spełniają kryteria dla co najmniej jednej z dostępnych kategorii.**\n    - **Informuj użytkownika o liczbie pobranych wiadomości po wykonaniu wyszukiwania.**\n</UwagiKoncowe>",
          "returnIntermediateSteps": true
        }
      },
      "id": "e4c883e5-f626-49df-9bb3-5fb4355d3011",
      "name": "Asystent AI - Skrzynka pocztowa",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1744,
        400
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1440,
        704
      ],
      "id": "d40258da-18a2-40fe-b967-8becb57f4173",
      "name": "Anthropic Chat Model"
    },
    {
      "parameters": {
        "content": "## Agnet AI",
        "height": 820,
        "width": 1120,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1392,
        288
      ],
      "typeVersion": 1,
      "id": "c94a858e-9ccc-4b4c-83c2-5e3e60c1e1e5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Slack - Nowa odpowiedź",
        "height": 260,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2624,
        288
      ],
      "typeVersion": 1,
      "id": "9214c498-5d2c-4935-ae8b-da03a39d4035",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Agent AI - Skrzynka pocztowa",
        "height": 80,
        "width": 3100,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        160
      ],
      "typeVersion": 1,
      "id": "67b09f47-565f-4295-9528-42641e5fb4e6",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "channelId": {
          "__rl": true,
          "value": "C08S7S2P0MS",
          "mode": "list",
          "cachedResultName": "5-agentow-ai"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        624
      ],
      "id": "4efa21bd-f676-43cb-9d7b-ca5536f6d631",
      "name": "Slack Trigger6",
      "webhookId": "811616af-5144-40fa-bbe4-4f70e339f5ab"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a00b4232-e6f0-4769-ab9d-143316fd8f83",
              "leftValue": "={{ $json.user }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        864,
        608
      ],
      "id": "ce1f17e8-fcf1-4726-a23b-13300f37582f",
      "name": "If6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.files[0].mimetype }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "6cbdba35-9be0-4668-b3ee-47ba24cae379"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "12067f8e-c660-4843-a563-a6ab82fbead5",
                    "leftValue": "={{ $json.files[0].mimetype }}",
                    "rightValue": "audio/mp4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        464,
        608
      ],
      "id": "36d6cf91-8036-4cca-9e85-5f489e12945b",
      "name": "Tekst czy Audio6"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        864,
        384
      ],
      "id": "5ad464db-62fe-4263-a9cc-62585c00e27f",
      "name": "Transkrypcja6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8198dd2d-3d5d-462d-b066-8a5db538fc9b",
              "leftValue": "={{ $json.subtype }}",
              "rightValue": "message_deleted",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "5caab4a9-8239-4670-ad0f-e1234237a30f",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        192,
        624
      ],
      "id": "840ac00c-791c-49ad-a292-5ffd40834252",
      "name": "Nieporządany event6"
    },
    {
      "parameters": {
        "url": "={{ $json.files[0].url_private_download }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        384
      ],
      "id": "e16ab3b1-ec9b-4fc2-9785-1a51b603edb3",
      "name": "Pobierz notatke głosową6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "153970be-9674-4f01-ac41-9782f5408f56",
              "name": "id",
              "value": "={{ $('Slack Trigger6').item.json.thread_ts || $('Slack Trigger6').item.json.ts }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "88dadce5-05ca-4ad7-9df1-a68febc87ad1",
      "name": "Event ID6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        592
      ]
    },
    {
      "parameters": {
        "content": "## Slack - Nowa wiadomość",
        "height": 500,
        "width": 1420
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        304
      ],
      "typeVersion": 1,
      "id": "04bda272-0568-44d0-9a5f-7a1f09f50d6e",
      "name": "Sticky Note21"
    }
  ],
  "connections": {
    "Pamięć podręczna": {
      "ai_memory": [
        [
          {
            "node": "Asystent AI - Skrzynka pocztowa",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "pobierzWiadomosci": {
      "ai_tool": [
        [
          {
            "node": "Asystent AI - Skrzynka pocztowa",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "pobierzPojedynczaWiadomosc": {
      "ai_tool": [
        [
          {
            "node": "Asystent AI - Skrzynka pocztowa",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "dodajEtykiete": {
      "ai_tool": [
        [
          {
            "node": "Asystent AI - Skrzynka pocztowa",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "wyslijWiadomosc": {
      "ai_tool": [
        [
          {
            "node": "Asystent AI - Skrzynka pocztowa",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "odpowiedzNaWiadomosc": {
      "ai_tool": [
        [
          {
            "node": "Asystent AI - Skrzynka pocztowa",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Asystent AI - Skrzynka pocztowa": {
      "main": [
        [
          {
            "node": "Wiadomość - Odpowiedź AI Agenta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Asystent AI - Skrzynka pocztowa",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger6": {
      "main": [
        [
          {
            "node": "Nieporządany event6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Event ID6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tekst czy Audio6": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pobierz notatke głosową6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transkrypcja6": {
      "main": [
        [
          {
            "node": "Event ID6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nieporządany event6": {
      "main": [
        [
          {
            "node": "Tekst czy Audio6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pobierz notatke głosową6": {
      "main": [
        [
          {
            "node": "Transkrypcja6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event ID6": {
      "main": [
        [
          {
            "node": "Asystent AI - Skrzynka pocztowa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "78243e79453de537183305a3c3825e24de7eb0bc8972ce5a8ab629f87f2161d2"
  }
}